<section>
  <h3>
    <%= link_to new_project_path, class: 'submit-fucking-project' do %>
      Start your fucking project with us
      <%= image_tag('https://twemoji.maxcdn.com/2/72x72/1f911.png', class: 'emoji-sm') %>
    <% end %>
  </h3>
</section>