<footer>
  <div>
    No Copy fucking right
    <ul class="float-right">
      <li><a href="mailto:ismail@werunik.com?subject=Join our Fucking Team">Join our Fucking Team</a></li>
      <li><a href="censored.html">Censored version</a></li>
      <li><a href="http://fuckingunik.com">Fucking unik</a></li>
    </ul>
  </div>
</footer>