<main>
  <hr>
  <h1>
    We deliver Fucking awesome work!
    <img class="emoji-md" src="https://cdnjs.cloudflare.com/ajax/libs/twemoji/2.0.5/2/72x72/1f595-1f3fd.png">
  </h1>
  <hr>
  <br>
  <section class="work">
    <h2>UX & UI Design</h2>
    <p>We fucking hate complex UI's.<br>
    Our philosophy, Less is More (or More is Less, whatever the fuck is).</p>

    <h2>Web Development</h2>
    <p>There is nothing we hate more than fucking ugly code.<br>
    We fucking write elegant code in Ruby, Javascript and Elixir.</p>

    <h2>Mobile Development</h2>
    <p>We love Angry fucking bird!<br>
    We fucking make iOS, Android and Ionic apps.</p>

    <h2>Lean Startup</h2>
    <p>We will build your MVP.<br>
    However, you get out of the fucking building and get feedback from your fucking customers!</p>
  </section>
  <%= render "partials/cta_project" %>
</main>